<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href = "/styles.css" />
</head>
<body>
  <nav class="topnav">
    <a href="/">HOME</a>
    <a href="/pizzas">ALL PIZZAS</a>
    <a href="/pizzas/new">PLACE ORDER</a>
  </nav>
  <%= yield %>
  <img class="displayed" src="/pizza-icon.jpg" alt="">
</body>
</html>
